<div class="container">
  <h1 class="display-4">JavaScript</h1>
  <p>Fonte: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">Guida ufficiale MDN</a></p>
  <div>
  
  <p>
      JavaScript è case sensitive e utilizza i caratteri Unicode.

      Uno statement non richiede il ; se è l'unico nella riga, ma è meglio metterlo comunque.
    
      Commenti 
      //
      /* */
  </p>

  <h2 class="lead">Variabili</h2>

  <p>Le variabili possono essere definite in tre modi:</p>
  <ul>
    <li>var - variabile base</li>
    <li>let - varibile locale, block scoped</li>
    <li>const - costante, block scoped, deve essere inizializzata, non può avere lo stesso nome di una variabile o di una funzione; un oggetto costante può essere modificato nei suoi campi (idem per un array)</li>
  </ul>

  <p>
      Valore finchè non è assegnata = undefined

      Si può controllare se una variabile ha un valore con === undefined
      
      In un contesto booleano una variabile undefined assume il valore false, in un contesto numerico assume il valore NaN (not a number).
      
      In un contesto booleano una variabile null assume il valore false, in un contesto numerico assume il valore 0.
  </p>

  <h2 class="lead">Variable Hoisting</h2>

  <p>
    JS dà la possibilità di riferirsi ad una variabile dichiarata successivamente (solo con var), tuttavia mantiene il valore undefined quando viene usata prima della dichiarazione.
    Le variabili globali sono proprietà dell'oggetto global window.
  </p>

  <h2 class="lead">Tipi (6 primitivi + object)</h2>
    <ul>
      <li>Boolean</li>
      <li>null</li>
      <li>undefined</li>
      <li>Number</li>
      <li>String</li>
      <li>Symbol</li>
    </ul>

  <h2 class="lead">Conversione Tipi</h2>

  <p>
      JS è tipato dinamicamente: non necessita che venga specificato il tipo e i tipi vengono convertiti durante l'esecuzione in base alle necessità

      Quando una variabile ha un valore String + Number, il Number viene convertito a String. Se invece vengono usati operatori diversi dal +, la stringa viene convertita in numero.
    
      Un numero memorizzato come stringa è possibile convertirlo manualmente con parseInt e parseFloat
  </p>

<!-- 
  Litterals
  [...] -->

  <h2 class="lead">Condizioni</h2>

  <p>
      if..else
      switch
  </p>


  <p>Valori che valgono come false:</p>
  <ul>
    <li>false</li>
    <li>undefined</li>
    <li>null</li>
    <li>0</li>
    <li>NaN</li>
    <li>""</li>
  </ul>

  <h2 class="lead">Eccezioni</h2>

  <p>
      throw per lanciarlo
      try..catch per gestirlo
      finally eventuale
  </p>

  <p>L'errore lanciato può essere di qualsiasi tipo, ma conviene usare quelli definti da
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error#Error_types">ES6</a> o dal
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/DOMException">DOM</a>.
  </p>


  <h3 class="lead">Promises</h3>
  <p>Nuova funzionalità per gestire il flusso di operazioni asincrone.
  Un oggetto Promise può avere 4 stati:
  </p>
  <ul>
    <li>pending - in attesa</li>
    <li>fulfilled - operazione a buon fine</li>
    <li>rejected - operazione fallita</li>
    <li>settled - fulfilled o rejected, ma non pending</li>
  </ul>

  <h2 class="lead">Iterazioni</h2>

  <!-- Modi per iterare 

  for
  while
  do..while
  break - interrompe un iterazione
  continue - passa all'iterazione successiva
  for..in - itera oggetti
  for (variable in object) {
    statements
  }
  for..of - usato per oggetti iterabili (array, map, set, object)
  for (variable of object) {
    statement
  }
  forEach - esegue una funzione per ogni elemento dell'array (o oggetto)
  array.forEach(function(element) {
      console.log(element);
  }); -->

  </div>
</div>